@import url('https://fonts.googleapis.com/css?family=Mukta');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
.box {
    background-image: url(UserPanelBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 94vh;
}

.containerbox {
    background-color: rgba(31, 31, 31, 0.7);
    color: white;
    height:500px;
    width:80%;
    max-width: 500px;
    margin:auto;
    font-family: 'Mukta', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    backdrop-filter: blur(2px);
    
}
h3 {
    font-style: bold;
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
}

.sectionNote {
    padding-left: 10%;
    padding-right: 10%;
    font-style: italic;
}

a {
    cursor: pointer;
    font-size: 0.8em;
    
}

.underlineDecoration {
   content: url(Cenefa.png);
    width: 200px;
    height: max-content;
    display: flex;
    align-self: center;
    
}
