@import url('https://fonts.googleapis.com/css?family=Mukta');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
.box1 {
    background-image: url(UserPanelBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    height: 94vh;
    flex: 1 1;
    flex-wrap: wrap; 
    padding: 50px;
    justify-content: space-evenly;
}

.containerbox1 {
    background-color: rgba(31, 31, 31, 0.7);
    color: white;
    height:500px;
    width:80%;
    min-width: 300px;
    max-width: 500px;
    margin:5px;
    font-family: 'Mukta', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    backdrop-filter: blur(2px);
    padding: 50px;
    align-content: flex-start;
    flex: 1 1;
    
}
.h3g {
    font-style: bold;
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
}

.sectionNote {
    padding-left: 10%;
    padding-right: 10%;
    font-style: italic;
}

.atex {
    cursor: pointer;
    font-size: 0.8em;
    
}

.underlineDecoration {
   content: url(Cenefa.png);
    width: 200px;
    height: max-content;
    display: flex;
    align-self: center;
    
}
.favlist {
    font-style : italic;
    min-height: 30px;
    margin:10px;
}
.favlist:hover {
    font-weight: bold;
    color:rgba(255, 197, 122, 0.959);
    text-decoration: none!important;
}
