.userCard {
    display: flex;
    margin-bottom: 40px;
    margin: auto;
    
  
}

.userCard__info {
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}

.userCard__avatar {
    align-items: center;
    width: 50px !important;
    height: 50px !important;
}

.userCard__follow {
    background-color: lightseagreen;
    width: 85px;
    height: 30px;
    align-items: center;
    margin: auto; 
}

.userCard__info > p {
    color: grey;
    font-size: small;
}