.userProfiles {
    flex: 0.8;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.discoverTitle {
    align-items: center;
    padding: 50px;
    width: 100%;
}

.discoverItems {
    flex-wrap: wrap;
    flex-direction: row;

}

.userProfiles__userCard {

    margin-top: 45px;
    margin-bottom: 15px;
    min-width: 250px;
}

.userNickname {
    font-weight: bolder;
}

.userEmail {
    font-style: italic;
}

