*{margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;}

/*************************************************** Botones Audiolibros ****************************************************/

.contenedor{
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: black;
}
.contenedor figure{
   position:relative;
    height: 250px;
    cursor: pointer;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    margin-left: 19px;
}
.contenedor figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,103,123,0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
   text-align: center;
}
.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor figure:hover > img{
    transform: scale(1.3);
}
.contenedor figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
     margin-top: 580px;
}
.contenedor figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-top: 0%;
        background-color: black;
      }
      
      td, th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color:black;
      }

/*************************************************** Slider ****************************************************/
    .main{
        position:relative;
        height:80vh;
        width:100%;
        color:#fff;
      }
      .main .slider{
        position:relative;
        height:100vh;
        width:100%;
      }
      .main .slider .slides{
        position:absolute;
        height:80%;
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        overflow:hidden;
        opacity:0;
        transition:0.3s ease-in-out;
      }
      .main .slider .slides.current{
        z-index:1;
        opacity:1;
      }
      .main .slider .slides:nth-child(1){
        background:linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url(fondo3.jpg);
        background-size:cover;
        background-attachment:fixed;
        background-position:center;
        background-repeat:no-repeat;
      }
      .main .slider .slides:nth-child(2){
        background:linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url(logo.jpg);
        background-size:cover;
        background-attachment:fixed;
        background-position:center;
        background-repeat:no-repeat;
      }
      .main .slider .slides:nth-child(3){
        background:linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url(logo2.jpg);
        background-size:cover;
        background-attachment:fixed;
        background-position:center;
        background-repeat:no-repeat;
      }
      .main .slider .slides h1{
        font-size:3em;
        font-weight:600;
        text-shadow:0px 0.5px 12px rgba(0, 0, 0, 0.9);
        margin-left:-500%;
        transition:0.3s linear;
      }
      .main .slider .slides.current h1{
        animation:animateHeading 0.3s linear forwards 1;
        animation-delay:0.2s;
      }
      @keyframes animateHeading{
        to{
          margin-left:0;
        }
      }
      .main .slider .slides p{
        text-shadow:0px 0.5px 5px rgba(0, 0, 0, 0.5);
        margin-right:-500%;
        transition:0.3s linear;
      }
      .main .slider .slides.current p{
        animation:animateparagraph 0.3s linear forwards 1;
        animation-delay:0.2s;
      }
      @keyframes animateparagraph{
        to{
          margin-right:0;
        }
      }
      .main .prev{
        position:absolute;
        color:#fff;
        top:50%;
        left:5%;
        transform:translateY(-50%);
        z-index:99;
        font-size:1.5em;
        font-weight:600;
        border:2px solid #fff;
        padding:10px 17px;
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius:50%;
        transition:0.2s ease-in-out;
        cursor:pointer;
        box-shadow:0px 2px 15px rgba(0, 0, 0, 0.9);
      }
      .main .next{
        position:absolute;
        color:#fff;
        top:50%;
        right:5%;
        transform:translateY(-50%);
        z-index:99;
        font-size:1.5em;
        font-weight:600;
        border:2px solid #fff;
        padding:10px 17px;
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius:50%;
        transition:0.2s ease-in-out;
        cursor:pointer;
        box-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);
      }
      .main .prev:hover,
      .main .next:hover{
        background:#16a085;
        border-color:#16a085;
      }
      .main a{
        position:fixed;
        color:#fff;
        bottom:15%;
        left:50%;
        transform:translateX(-50%);
        z-index:99;
        font-size:1em;
        font-weight:500;
        border:1px solid #16a;
        padding:10px 17px;
        line-height:1.2em;
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius:2px;
        transition:0.2s ease-in-out;
        cursor:pointer;
        text-decoration:none;
        background:#16a;
        box-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);
      }
      .main a:hover{
        background:#017fb5;
      }
      