@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

  
  
.uploadForm{
    width: 35%;
    margin: 0 auto;
    background-color: rgba(238, 205, 161, 0.918);
    display:flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    top: 20px;
    bottom: 20px;
    z-index:2;
    
}

.input-library { 
    width: 90%;
    margin: 0 5%;
    height: 2em;
    padding-left: 10px;
    border-radius: 8px;
    background-color: white;
    border: none;
    
}

.sinopsis {
    width: 90%;
    margin: 0 5%;
    height: 6em;
    padding-left: 10px;
    border-radius: 8px;
    background-color: white;
    border: none;
    resize: auto;
}


.labelUpload{
    margin:0 auto;
    width:100%;
    text-align: left;
    font-family: 'Space Grotesk',  sans-serif;
    color: rgb(10, 10, 10);
    font-weight: 500 ;
    padding: 0 15px;
    padding-left: 5%;

}

.form-library{
    margin-top: 10vh;
}

.submitButton{
    width: 20%;
    margin: 0 auto;
    background: #ee565b ;
    font-weight: bold;
    margin-bottom: 20px;
    border: none;
    color: white;
    height: 3em;
    border-radius: 5px;
    font-family: 'Space Grotesk',  sans-serif;
}

.tituloUpload{
    background-color: #ee565b;
    padding: 15px 0;
    color: white;
    padding-left: 5%;
    border-radius: 20px 20px 0 0;
    font-weight: bold;
}