@import url('https://fonts.googleapis.com/css?family=Mukta');
.body-1{
  font-family: 'Mukta', sans-serif;
	height:100vh;
	min-height:550px;
	background-image:url(img//fondo3.png);
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	position:relative;
    overflow-y: hidden;
}

a{
  text-decoration:none;
  color:#444444;
}
.login-reg-panel-1{
    position: relative;
    top: 413px;
    transform: translateY(-50%);
	text-align:center;
    width:70%;
	right:0;left:0;
    margin:auto;
    height:400px;
    background-color: rgba(30,30,30, 0.9);
}
.white-panel-r{
    background-color: rgba(255,255, 255, 1);
    height:500px;
    position:absolute;
    margin-top: -55px;
    margin-right: -34%;
    width:50%;
    right:calc(50% - 50px);
    transition:.3s ease-in-out;
    z-index:0;
}
.login-reg-panel-1 input[type="radio"]{
    position:relative;
    display:none;
}
.login-reg-panel-1{
    color:#B8B8B8;
}
.login-reg-panel-1 #label-login, 
.login-reg-panel-1 #label-register-1{
    border:1px solid #9E9E9E;
    padding:0 5px;
    width:150px;
    display:block;
    text-align:center;
    border-radius:3px;
    cursor:pointer;
}
.login-info-box-1{
    width:30%;
    padding:0 50px;
    top:46%;
    left:0;
    position:absolute;
    text-align:center;
}
.register-show {
    margin-top: 17%;
    margin-left: 25px;
}

.register-show input[type="text"], .register-show input[type="password"]{
    width: 80%;
    display: block;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
    margin: 32px;
}
.register-show input[type="submit"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    float: center;
    cursor:pointer;
}
.credit-1 {
    position:absolute;
    bottom:10px;
    left:10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}
a
{
  text-decoration:none;
  color:#eaeaea;
}

.titulo
{
    color: black;
}
.logo {
    background: url("./img/log.jpg") no-repeat;
    padding: 0px;
    width: 447px;
    height: 100px;
    position: absolute;
    margin-top: 10%;
    margin-left: 5%;
  }

  .tienescuenta{
    margin-left: 24px;
    width: 121%;
  }

  #label-register {
    margin-top: 16px;
    position: absolute;
    margin-left: -10px;
  }
  .tienecuenta{
      margin-left: 40px;
      width: 100%;
  }
  
.ver-2 {
    margin-top: -13%;
    position: absolute;
    margin-left: 25%;
}

.eye-2 {
    width: 17%;
    height: 10%;
}