
.main-footer{
    background-color: #283c46;
    padding-top: 7em;
    bottom: 0;
    width: 100%;
    margin-top: 0%;
}

.container{
    background-color:#283c46;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Space Grotesk',  sans-serif;
    margin-top: -6%;
}

.cole{
    text-align: left;
    margin-left: 20px;
    font-family: 'Space Grotesk',  sans-serif;
    color: white;
    list-style: none;
}

.col1{
    text-align: right;
    margin-right: 20px;    
    font-family: 'Space Grotesk',  sans-serif;
    color: white;
    list-style: none;

}
.list-unstyled{
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Space Grotesk',  sans-serif;
    font-weight: 100;
    color: white;
    list-style: none;

}

.list-unstyled1{
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'Space Grotesk',  sans-serif;
    font-weight: 100;
    color: white;
    list-style: none;

}

.rowe{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Space Grotesk',  sans-serif;
    font-size: 15px;
    background-color: #213540;
    color: white
    
}

.rows{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Space Grotesk',  sans-serif;
}

.col-small{
    font-family: 'Space Grotesk',  sans-serif;
    

}

.barcelona {
    color: white;
}

.letras{
    color: rosybrown;
    font-family: 'Space Grotesk',  sans-serif;

}

.frase{
    font-family: 'Space Grotesk',  sans-serif;

}

.logosrs {
    max-width:400%;
}