
.main-footer{
    background-color: #333c4e;
    padding-top: 7em;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 0%;
}

.container{
    background-color: #333c4e;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Space Grotesk',  sans-serif;

}

.col{
    text-align: left;
    margin-left: 20px;
    font-family: 'Space Grotesk',  sans-serif;
    color: white;
    list-style: none;
}

.col1{
    text-align: right;
    margin-right: 20px;    
    font-family: 'Space Grotesk',  sans-serif;
    color: white;
    list-style: none;

}
.list-unstyled{
    text-align: left;
    margin-left: 20px;
    margin-top: 50px;
    font-family: 'Space Grotesk',  sans-serif;
    font-weight: 100;
    color: white;
    list-style: none;

}

.list-unstyled1{
    text-align: right;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Space Grotesk',  sans-serif;
    font-weight: 100;
    color: white;
    list-style: none;

}

.row{
    padding-top: 30px;
    padding-bottom: 40px;
    font-family: 'Space Grotesk',  sans-serif;
    font-size: 15px;
    background-color: #474f5f;
    color: white

    
}

.rows{
    padding-top: 30px;
    padding-bottom: 80px;
    font-family: 'Space Grotesk',  sans-serif;

    
}

.col-small{
    font-family: 'Space Grotesk',  sans-serif;
    

}

.letras{
    color: rosybrown;
    font-family: 'Space Grotesk',  sans-serif;

}

.frase{
    font-family: 'Space Grotesk',  sans-serif;

}