.BoxLibrary {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap; 
}


.BoxCategory {
    background-color:rgb(255, 203, 161);
    min-width: 100%;
}



.BoxBooksInCategory {
    display:flex;
    background-color: rgb(132, 192, 82);
    align-content: center;
    justify-content: center;
}

.BooksInCategory {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.BoxSingleBook {
    background-color: pink;
    padding: 15px;
}

.BookImageLibrary {
    margin: 50px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    justify-content: center;
    position: relative;
    margin: auto;
    -webkit-box-shadow: 2px 2px 17px 4px rgba(0,0,0,0.87);
    -moz-box-shadow: 2px 2px 17px 4px rgba(0,0,0,0.87);
    box-shadow: 2px 2px 17px 4px rgba(0,0,0,0.87);
    
}