@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.Fondo {
    background-image: url(BookOverviewBG.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    z-index: -200;
    height: 100%;
}

.boxInfo {

    display: flex;
    flex: 1 0 1;
    height: 100vh;
    flex-wrap: wrap; 
    flex-direction: row;
    padding: 5px;
    align-content: flex-start;
    padding-right: 50px;
    padding-left: 50px;
    justify-content: space-between;
    
}

.bookBoxImage {
    flex: 1;
    min-width: 350px;
    min-height: 400px;
    max-height: 500px;
    background-color: rgba(30, 30, 30, 0.7);
    color: white;
    text-align: center;
    justify-content: center;
    margin: 5px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    padding-top: 20px;
    backdrop-filter: blur(3px);
}

.BookImage {
    margin: 50px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    justify-content: center;
    position: relative;
    margin: auto;
    -webkit-box-shadow: 2px 2px 17px 4px rgba(0,0,0,0.87);
    -moz-box-shadow: 2px 2px 17px 4px rgba(0,0,0,0.87);
    box-shadow: 2px 2px 17px 4px rgba(0,0,0,0.87);
    
}


.bookBoxText {
    flex-grow: 1;
    
    background-color: rgba(30, 30, 30, 0.8);
    color: white;
    text-align: center;
    margin: 5px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    backdrop-filter: blur(3px);
    
}

.TitleBox {
    font-style: bold;
    font-family: 'Dancing Script', cursive;
    font-size: xxx-large;
    margin-top: 40px;
}

.AuthorBox,
.CategoryBox{
    color: rgb(156, 137, 125);
    font-style: italic;
    margin-top: 5px;
}
.CreatedByBox{
    color: rgb(105, 99, 95);
    font-style: italic;
    margin-top: 5px;
    font-size: smaller;
}

.DescriptionBox{
    text-align: justify;
    font-family: 'Mukta';
    max-width: 600px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.AddCommentBox {
    flex: 0 1 100%;
    background-color: rgba(30, 30, 30, 0.8);
    color: white;
    padding-right: 50px;
    padding-left: 50px;
    padding: 5px;
    margin: 5px;
    display:flex;
    flex-direction: column;
}