.BoxComments {
    flex: 1 300px 500px;
    background-color: rgba(30, 30, 30, 0.8);
    color: white;
    text-align: center;
    justify-content: center;
    margin: 5px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    padding-top: 20px;
    backdrop-filter: blur(2px);

}

.UserComentario {
    font-family: 'Mukta';
    font-style: italic;
    padding-top: 2rem;
    padding-bottom: 0rem;
}

.UserOpinion {
    background-color: rgba(250, 243, 220, 0.582);
    height: 3rem;
    color: rgb(0, 0, 0);
    border-radius: 7px;
    border: 1px solid rgba(250, 243, 220, 0.397);
    font-family: 'Mukta';
    min-width: 350px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    margin: 20px;
    box-shadow: inset 0 0 10px rgba(46, 46, 46, 0.39);
}